h1 {
  font-family: Raleway;
  font-size: 23px;
  margin: 1.66%;
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  /* width: 30%; */
  padding-bottom: 20px;
}

/* p {
  border-top: 1px solid gray;
  margin: 1.66%;
  width: 30%;
} */

img {
  float: left;
  margin: 1.66%;
  width: 30%;
}
